// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }



@media (max-width: 1530px) {
	.ultimates_main {
		padding-left: 200px;
	}
}

@media (max-width: 1500px) {
	.header {
		padding-top: 80px;
	}

	.features_main {
		padding-right: 130px;
	}

	.features_desc {
		margin-bottom: 60px;
	}

	.feature_item {
		margin-bottom: 50px;
	}

	.jackpots_info {
		margin-bottom: 90px;
	}

	.ultimates_outer {
		overflow-x: hidden;
	}

	.ultimates_main {
		padding-left: 170px;
	}

	.ultimates_img {
		right: -50px;
	}

	.download_inner {
		right: -100px;
		z-index: 2;
	}

	.footer {
		padding-top: 110px;
		padding-bottom: 90px;
	}

}

@media (max-width: 1430px) {
	.ultimates_main {
		padding-left: 120px;
	}

	.ultimates_img {
		right: -80px;
	}

	.section_companies {
		margin-bottom: 90px;
	}

	.section_features {
		margin-bottom: 40px;
	}

	.section_design {
		margin-bottom: 150px;
	}

	.section_reasons {
		margin-bottom: 140px;
	}

	.reasons_desc {
		margin-bottom: 70px;
	}

	.section_ultimates {
		margin-bottom: 140px;
	}

	.section_purchase {
		margin-bottom: 170px;
	}

	.section_purchase::after {
		bottom: -120px;
	}

	.people_outer {
		position: relative;
		top: 0px;
		left: -170px;
	}

	.people_main {
		left: 50px;
	}


	.section_download {
		overflow-x: hidden;
	}

	.download_inner {
		right: -60px;
	}

	.download_main {
		position: relative;
		right: -120px;
	}

	.download_title {
		white-space: nowrap;
	}

	.download_desc {
		white-space: nowrap;
	}

	.fourth_cross {
		right: 484px;
	}

	.fifth_circle {
		right: 295px;
	}

	.sixth_circle {
		display: none;
	}

	.seventh_circle {
		display: none;
	}
}	

@media (max-width: 1320px) {
	.container_main {
		width: 1100px;
	}

	.header {
		padding-top: 60px;
		margin-bottom: 90px;
	}

	.main_text {
		padding-left: 0px;
	}

	.main_title {
		font-size: 55px;
		padding-top: 4px;
		padding-bottom: 10px;
		margin-top: 10px;
	}

	.first_rhombus {
		left: 255px;
	}

	.first_cross {
		display: none;
	}

	.header_img {
		top: 55px;
	}

	.second_circle {
		top: 66px;
	}

	.companies_title {
		font-size: 20px;
	}

	.features_main {
		padding-right: 0px;
	}

	.feature_img {
		margin-left: 0;
	}

	.jackpots_info {
		white-space: nowrap;
	}

	.jackpots_main {
		padding-left: 10px;
		padding-right: 40px;
	}

	.jackpots .col {
		margin-right: 115px;
	}

	.jackpot_desc {
		font-size: 15px;
	}

	.design_img {
		left: 0px;
	}

	.reasons .col {
		margin-right: 70px;
	}

	.reason_desc {
		font-size: 15px;
	}

	.ultimates_main {
		padding-left: 90px;
	}

	.ultimates_img {
		right: -130px;
	}

	.purchase_outer {
		padding: 0 215px;
	}
	.purchase_title {
		white-space: nowrap;
	}

	.purchase_desc {
		white-space: nowrap;
	}

	.people_main {
		left: -20px;
	}

	.download_inner {
		right: -60px;
	}

	.download_main {
		right: -220px;
	}

	.fourth_cross {
		right: 384px;
	}

	.fifth_circle {
		right: 195px;
	}
}

@media (max-width: 1240px) {
	.people_outer {
		left: -210px;
	}
}

@media (max-width: 1200px) {
	.container_main {
		width: 1000px;
	}

	.logo {
		font-size: 30px;
	}

	.nav_item {
		margin-right: 30px;
	}

	.nav_button {
		margin-left: 40px;
	}

	.app_desc {
		white-space: nowrap;
	}

	.second_circle {
		right: 330px;
	}

	.third_cross {
		left: 600px;
	}

	.header_img {
		right: 85px;
		max-width: 33%;
		height: auto;
	}

	.companies_outer {
		padding: 0 60px;
	}

	.features_outer {
		left: -70px;
	}

	.features_img {
		max-width: 55%;
		height: auto;
	}

	.features_main {
		margin-left: 20px;
	}

	.jackpots_main {
		padding-left: 0px;
		padding-right: 0px;
	}

	.jackpots .col {
		margin-right: 95px;
	}

	.design_title {
		white-space: nowrap;
	}

	.design_desc {
		white-space: nowrap;
	}

	.design_img {
		margin-right: 0;
		left: -60px;
	}

	.reasons_main {
		padding: 0 50px;
	}

	.ultimates_main {
		padding-left: 50px;
	}

	.ultimates_img {
		max-width: 57%;
		height: auto;
		top: 40px;
	}

	.purchase_outer {
		padding: 0 165px;
	}

	.section_people::after {
		content: "";
		width: 100%;
		height: 2px;
		display: block;
		background: #f4f4f4;
		position: absolute;
		bottom: -70px;
	}

	.people_outer {
		position: static;
	}

	.people_main {
		position: static;
		margin: 0 auto;
		padding-left: 50px;

	}

	.section_faq {
		margin-bottom: 160px;
	}

	.people_img {
		display: none;
	}

	.download_main {
		padding-bottom: 40px;
	}

	.section_download .figures {
		display: none;
	}

	.download_bg {
		display: none;
	}

	.download_main, .download_inner {
		position: static;
	}

	.download_inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.download_links {
		padding-left: 0;
	}

	.download_link:nth-child(1) {
		margin-right: 100px;
	}
}