// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

@media (max-width: 1400px) {
	/* JACKPOTS */
	.jackpots_main {
		padding-left: 70px;
		padding-right: 30px;
	}

	.jackpot .col {
		margin-right: 100px;
	}

	.jackpot_desc {
		font-size: 15.5px;
	}

	/* REASONS */
	.reasons_main {
		padding-left: 105px;
		padding-right: 85px;
	}

	.reason_desc {
		font-size: 15.5px;
	}

	/* ULTIMATES */
	.ultimates_outer {
		padding-left: 120px;
	}

	/* PEOPLE */
	.people_img {
		left: -170px;
	}

	.people_main {
		left: -120px;
	}

	/* DOWNLOAD */
	.download_inner {
		left: 165px;
	}

	.download_bg {
		left: 50px;
	}

	.fourth_cross {
		right: 561px;
	}

	.fifth_circle {
		right: 350px;
	}

	.sixth_circle {
		right: 677px;
	}
}


@media (max-width: 1320px ) {
	.container_main {
		width: 1150px;
	}

	/* HEADER */
	.header {
		padding-top: 60px;
		margin-bottom: 95px;
	}

	.main_title {
		font-size: 55px;
		padding: 7px 0;
	}

	.first_circle {
		left: -20px;
	}

	.first_cross {
		display: none;
	}

	/* COMPANIES */
	.section_companies {
		margin-bottom: 100px;
	}
	.companies_title {
		font-size: 18px;
	}

	/* FEATURES */
	.features_img {
		margin-left: 0;
	}

	.features_desc {
		margin-bottom: 65px;
	}

	/* JACKPOTS */
	.jackpots_title {
		font-size: 38px;
	}

	.jackpots_title::after {
		height: 135px;
	}

	.jackpots_main {
		padding-left: 80px;
		padding-right: 20px;
	}

	/* DESIGN */
	.section_design {
		margin-bottom: 170px;
	}

	.design_img {
		left: -20px;
	}

	/* REASONS */
	.section_reasons {
		margin-bottom: 150px;
	}

	/* ULTIMATES */
	.section_ultimates {
		margin-bottom: 130px;
	}

	/* PURCHASE */
	.section_purchase {
		margin-bottom: 190px;
	}

	.section_purchase::after {
		bottom: -120px;
	}

	.purchase_desc {
		margin-bottom: 55px;
	}

	.card_price {
		font-size: 58px;
	}

	/* PEOPLE */
	.people_title {
		font-size: 38px;
	}

	.people_img {
		left: -200px;
	}

	.people_main {
		left: -195px;
	}

	/* FAQ */
	.faq_outer {
		padding: 0 125px;
	}

	/* DOWNLOAD */

	.download_inner {
		padding-top: 60px;
		left: 255px;
	}

	.download_bg {
		left: 140px;
	}

	.fourth_cross {
		right: 471px;
	}

	.fifth_circle {
		right: 260px;
	}

	.sixth_circle {
		right: 587px;
	}

	/* FOOTER */
	.footer {
		padding-top: 110px;
		padding-bottom: 90px;
	}
}

@media (max-width: 1230px) {
	/* PEOPLE */
	.people_img {
		left: -230px;
	}

	.people_main {
		left: -225px;
	}

	/* DOWNLOAD */

	.section_download {
		margin-bottom: 70px;
	}

	.download_bg {
		display: none;
	}

	.download_outer .figures {
		display: none;
	}

	.download_main {
		display: block;
	}

	.download_inner {
		position: static;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.download_title {
		font-size: 46px;

	}
	.download_link:nth-child(1) {
		margin-right: 100px;
	}
}

@media (max-width: 1200px) {
	.container_main {
		width: 992px;
	}

	:root {
		--shift: 70px;
		--logo_duration: 1.25s;
	}

	/* HEADER */
	.header {
		padding-top: 40px;
	}

	.logo {
		font-size: 33px;
	}

	.header_img {
		max-width: 33%;
		height: auto;
	}

	.nav_item {
		margin-right: 25px;
	}

	.nav_button {
		margin-left: 40px;
	}

	.main_text {
		padding-left: 30px;
	}

	.main_title {
		font-size: 52px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.second_circle {
		right: 325px;
	}

	.first_rhombus {
		left: 285px;
	}

	/* COMPANIES */
	.companies_outer {
		padding: 0 75px;
	}

	/* FEATURES */
	.features_main {
		margin-left: 0;
	}

	.features_img {
		position: relative;
		left: -50px;
	}

	/* JACKPOTS */
	.jackpots_info {
		margin-bottom: 80px;
	}

	.jackpots_title {
		font-size: 35px;
		white-space: nowrap;
	}

	.jackpots_title::after {
		height: 130px;
	}

	.jackpots_desc {
		white-space: nowrap;
		font-size: 15px;
	}

	.jackpot_title {
		font-size: 18px;
		margin-top: 15px;
	}

	.jackpot_desc {
		font-size: 14px;
	}

	.jackpots .col {
		margin-right: 80px;
	}

	/* DESIGN */
	.design_img {
		left: -20px;
		max-width: 55%;
		height: auto;
	}

	.design_main {
		margin-left: 20px;
		padding-top: 100px;
	}

	/* REASONS */
	.reasons_main {
		padding-left: 40px;
		padding-right: 40px;
	}

	.reasons_desc {
		margin-bottom: 70px;
	}

	.reason_title {
		font-size: 18px;
	}

	.reason_desc {
		font-size: 14px;
	}

	.reasons .col {
		margin-right: 100px;
	}

	/* ULTIMATES */
	.ultimates_title {
		font-size: 34px;
	}

	.ultimates_desc {
		margin-bottom: 40px;
	}

	/* PURCHASE */
	.card_info {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.card_features {
		padding-top: 35px;
	}

	.card_feature {
		margin-bottom: 30px;
	}

	/* PEOPLE */
	.section_people::after {
		content: "";
		width: 100%;
		height: 2px;
		display: block;
		background: #f4f4f4;
		position: absolute;
		bottom: -70px;
	}

	.people_img {
		display: none;
	}

	.people_main {
		position: static;
		margin: 0 auto;
		padding-left: 40px;
	}

	.comment_desc {
		margin-bottom: 45px;
	}

	/* FAQ */
	.faq_title {
		font-size: 38px;
	}

	.question_title {
		font-size: 18px;
	}

	.question_answer {
		font-size: 15px;
	}

	.closed {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	/* DOWNLOAD */
	.download_title {
		font-size: 45px;
	}

}

@media (max-width: 1100px) {
	/* HEADER */
	.header_nav {
		padding: 0 10px;
	}

	.header_img {
		max-width: 30%;
		right: 115px;
	}

	:root {
		--shift: 50px;
		--logo_duration: 1s;
	}

	@keyframes left {
		0% {
			transform: translateY(0px);
		}

		50% {
			transform: translateY(calc(-1*var(--shift)));
		}

		100% {
			transform: translateY(0px);
		}
	}


	@keyframes right {
		0% {
			transform: translateY(0px);
		}

		50% {
			transform: translateY(var(--shift));
		}

		100% {
			transform: translateY(0px);
		}
	}

	.second_circle {
		right: 335px;
	}

	/* FEATURES */
	.features_main {
		margin-left: -100px;
	}

	.features_img {
		position: relative;
		left: -130px;
	}

	/* JACKPOTS */
	.jackpots_main {
		padding-left: 50px;
	}

	/* ULTIMATES */
	.section_ultimates{
		display: none;
	}

	/* PURCHASE */
	.section_purchase {
		margin-bottom: 160px;
	}

	.section_purchase::after {
		bottom: -110px;
	}

	/* FOOTER */
	.footer {
		padding-top: 100px;
		padding-bottom: 70px;
	}

	.footer_social {
		margin-bottom: 65px;
	}

}

@media (max-width: 992px) {
	.container_main {
		width: 900px;
	}

	.figures {
		display: none;
	}

	/* HEADER */
	.header {
		margin-bottom: 190px;
		padding-top: 0;
	}

	.header::after {
		content: "";
		width: 100%;
		height: 2px;
		display: block;
		background: #f4f4f4;
		position: absolute;
		bottom: -140px;
	}

	.header_nav{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		margin: 0;
		padding: 10px;
		padding-bottom: 15px;
		background: transparent;
	}

	.header_nav::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #FFF;
		border-bottom: 3px solid var(--orange);
		border-radius: 0px 0px 30px 30px;
		z-index: 3;
		box-shadow: 0px 2px  10px var(--orange);
	}

	.logo {
		position: relative;
		left: 10px;
		bottom: 2px;
		display: block;
		z-index: 3;
	}

	.left {
		animation: none;
	}

	.right {
		animation: none;
	}

	.menu {
		position: relative;
		right: 10px;
		bottom: 2px;
		display: block;
		z-index: 3;
	}

	.nav_list {
		position: fixed;
		display: block;
		z-index: 2;
		width: 100%;
		top: 0;
		left: 0;
		padding: 0;
		transform: translateY(-300px);
		transition: transform .4s linear;
	}

	.nav_list::before {
		content: '';
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: #fff;
		top: -30px;
		left: 0;
	}

	.nav_active {
		transform: translateY(78px);
	}

	.nav_item {
		display: block;
		width: 100%;
		margin-right: 0px;
		text-align: center;
	}

	.nav_link {
		display: block;
		width: 100%;
		color: var(--dark-blue);
		font-size: 25px;
		background: #fff;
		padding: 10px 0;
		border-radius: 100px;
		border-bottom: 2px solid var(--orange);
		transition-property: color, background;
		transition-duration: .4s;
		transition-timing-function: linear;
	}

	.nav_item:hover .nav_link {
		background: var(--orange);
		color: #fff;
	}

	.nav_button {
		display: none;
	}

	.header_main {
		background: none;
	}

	.main_text {
		padding-top: 190px;
		padding-bottom: 30px;
	}

	.header_img {
		top: 105px;
		right: 50px;
		border-radius: 45px;
	}

	.first_circle {
		display: none;
	}

	.second_circle {
		display: none;
	}

	.first_rhombus {
		display: none;
	}

	/* COMPANIES */
	.section_companies {
		margin-bottom: 130px;
	}
	.companies_outer {
		padding: 0 30px;
	}

	.companies_title {
		font-size: 22px;
	}

	/* FEATURES */
	.section_features {
		display: none;
	}

	/* JACKPOTS */
	.section_jackpots {
		display: none;
	}

	/* DESIGN */
	.section_design {
		display: none;
	}

	/* REASONS */
	.section_reasons {
		margin-bottom: 85px;
	}

	.reasons .row {
		justify-content: space-between;
	}

	.reasons .col {
		flex-basis: 50%;
		margin-right: 0px;
	}

	.reasons_main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.reason_title {
		font-size: 20px;
	}

	.reason_desc {
		font-size: 15px;
	}

	.button_style {
		font-size: 18px;
	}

	.link_style {
		font-size: 18px;
	}

	/* PEOPLE */
	.slider_btn {
		width: 60px;
		height: 60px;
	}

	.btn_arrow {
		font-size: 20px;
	}

	/* FAQ */
	.faq_outer {
		padding: 0 70px;
	}

	.faq_item {
		padding-left: 40px;
	}

	.opened {
		padding-bottom: 110px;
	}

	.question_title {
		font-size: 19px;
	}

	.question_answer {
		font-size: 16px;
	}

	.closed {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.question_button {
		right: 15px;
		padding: 20px;
	}

	.btn_form, .btn_form::after {
		width: 25px;
	}

	/* DOWNLOAD */
	.download_link:hover .download_img {
		box-shadow: none;
	}

	.download_link {
		position: relative;
		overflow: hidden;
	}

	.download_link::after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 50px;
		height: 100%;
		background: #fff;
		opacity: 0.5;
		transform: skewX(45deg) translateX(-150px);
		box-shadow: 0px 0px 30px var(--light-blue);
		animation: linear .9s shine infinite;
	}

	@keyframes shine {
		0% {
			transform: skewX(45deg) translateX(-150px);
		}

		50% {
			opacity: 0.7;
		}

		100% {
			transform: skewX(45deg) translateX(200px);
		}
	}

	/* FOOTER */
	.footer {
		padding: 60px 0;
	}

	.footer_nav {
		display: none;
	}

	.footer_social {
		margin-bottom: 40px;
	}

	.social_link {
		font-size: 40px;
		margin-right: 40px;
		color: #fff;
	}

	.social_link:last-child {
		margin-right: 0;
	}

	.social_link:hover {
		color: var(--orange);
		filter: drop-shadow(0px 0px 10px var(--orange))
	}


}