* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

:root {
	--dark-blue: #242f51;
	--orange: #fcae61;
	--blue: #2500f9;
	--light-blue: #299cfd;
};


img {
	display: block;
}

button {
	border: 0;
}

body {
	font-family: Poppins;
	background-color: #FFF;
	color: #616368;
}


/* HEADER */

.header_outer {
	margin-top: 95px;
	margin-bottom: 115px;
}

.container_outer {
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.container_main {
	width: 1190px;
	padding: 0 10px;
	position: relative;
	margin: 0 auto;
}

/* NAVIGATION */

.header_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-weight: 700;
	font-size: 30px;
	color: var(--dark-blue);
	text-shadow: 0px 0px 10px transparent;
	text-decoration: none;
	transition: text-shadow .3s linear;
}

.logo:hover {
	text-shadow: 0px 0px 10px var(--dark-blue);
}

.logo_text {
	position: relative;
	left: 0px;
	color: var(--orange);
	text-shadow: 0px 0px 10px transparent;
	margin-right: 0px;
	transition-property: text-shadow;
	transition-duration: .3s;
	transition-timing-function: linear;
}

@keyframes punch {
	0% {
		margin-right: 0px;
		left: 0px;
	}

	50% {
		left: -90px;
		margin-right: 90px;
	}

	100% {
		left: 0px;
		margin-right: 0px;
	}


}

.punch {
	animation: ease-in-out punch 1.5s;
}

.logo:hover .logo_text {
	text-shadow: 0px 0px 10px var(--orange);
}


.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.nav_item {
	margin-left: 35px;
}

.nav_link {
	font-weight: 500;
	font-size: 16px;
	color: var(--dark-blue);
	text-decoration: none;
	transition-property: color;
	transition-duration: .3s;
	transition-timing-function: linear;
}

.nav_item:hover .nav_link {
	color: var(--orange);
}

.button_style {
	font-weight: 700;
	font-size: 16px;
	color: #FFF;
	padding: 20px 40px;
	background-color: var(--blue);
	border-radius: 30px;
	cursor: pointer;
	transition-property: background-color;
	transition-duration: .3s;
	transition-timing-function: linear;
}


.nav_button {
	margin-left: 60px;
}

.button_style:hover {
	background-color: var(--light-blue);
}



/* HEADER MAIN TEXT */
.header_main {
	position: relative;
	background: url('../images/header/bg.png') no-repeat;
}

.main_text {
	position: relative;
	padding-top: 220px;
	padding-bottom: 257px;
	margin-left: 70px;
}

.app_rate {
	font-weight: 500;
	font-size: 18px;
	color: var(--dark-blue);
	display: inline-block;
	position: relative;
	padding: 4px 45px;
	background-color: #e2eaed;
	border-radius: 30px;
}

.app_rate::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 19px;
	height: 19px;
	background: url('../images/header/tick.png') no-repeat center;
	background-color: #feaa25;
	padding: 8px;
	border-radius: 50%;
}


.main_title {
	font-size: 60px;
	font-weight: 700;
	color: var(--dark-blue);
	margin-top: 5px;
	line-height: 1.25;
}


.app_desc {
	font-size: 18px;
	font-weight: 400;
	display: block;
	margin-top: 10px;
}


.free_button{
	margin-top: 40px;
	margin-right: 30px;
}

.video_link {
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	color: var(--blue);
	transition: color .3s linear;
}

.video_link:hover {
	color: var(--light-blue);
}

/* HEADER PHONE */
.header_img {
	position: absolute;
	top: 35px;
	right: 85px;
	box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
	border-radius: 60px;

}

/* SECTION COMPANIES */
.section_companies {
	position: relative;
	width: 100%;
	margin-bottom: 120px;
}

.companies_outer {
	width: 100%;
	padding: 0 120px;
	position: relative;
}

.companies_title {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: var(--dark-blue);
	margin-bottom: 45px;
}

.companies_main {
	display: flex;
	justify-content: space-between;
}

.southwest {
	margin-top: 36px;
}

.anubis {
	margin-top: 5px;
}

.alonzo {
	margin-top: 20px;
}

.express {
	margin-top: 0;
}

.maniac {
	margin-top: 30px;
}

/* SECTION FEATURES */
.section_features {
	width: 100%;
	margin-bottom: 0px;
}

.features_outer {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.features_img {
	margin-left: 30px;
}

.features_main {
	margin-left: 40px;
	padding-top: 60px;
	padding-right: 280px;
}

.features_title {
	font-size: 36px;
	font-weight: 700;
	color: var(--dark-blue);
	line-height: 1.278;
	margin-bottom: 10px;
}

.features_desc {
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	margin-bottom: 95px;
}

.features {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.feature_item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 65px;
}

.feature_item:last-child {
	margin-bottom: 0;
}

.feature_img {
	padding: 14px;
	border-radius: 50%;
	margin-right: 30px;
	position: relative;
}

.feature_icon {
	position: relative;
	top: 2px;
}

.speed {
	background: #ffecef;
	top: 5px;
}

.prototyping {
	background: #f4f4ff;
}

.vector {
	background: #e4ffee;
	bottom: 5px;
}

.feature_title {
	font-size: 20px;
	font-weight: 700;
}

.speed + .feature_info .feature_title {
	color: #f55767;
}

.prototyping + .feature_info .feature_title {
	color: #2563ff;
}

.vector + .feature_info .feature_title {
	color: #40975f;
}


.feature_desc {
	font-size: 16px;
	font-weight: 500;
}











/* FIGURES */

.figures {
	width: 100%;
}

/* CIRCLE */
.first_circle {
	top: 41px;
	left: -43px;
}

.second_circle {
	top: 0px;
	right: 345px;
}

.third_circle {
	bottom: 78px;
	left: 180px;
}

.fourth_circle {
	bottom: 58px;
	right: -122px;
}

/* RHOMBUS */
.first_rhombus {
	top: 136px;
	left: 335px;
}


/* CROSS */
.first_cross {
	bottom: 218px;
	left: 603px;
	position: absolute;
}

.second_cross {
	bottom: 167px;
	left: -165px;
	position: absolute;
}

.third_cross {
	bottom: 42px;
	left: 463px;
}

/* CIRCLE STYLES */
.circle_grey {
	padding: 6px;
	position: absolute;
	background-color: #FFF;
	border-radius: 50%;
	border: 7px solid #d4cdfd;
}

.circle_gradient {
	width: 26px;
	height: 26px;
	position: absolute;
	border: double 6px transparent;
	border-radius: 50%;
	background-image: linear-gradient(#FFF, #FFF), linear-gradient(#ff646e, #f98d6c);
	background-origin: border-box;
  	background-clip: content-box, border-box;
  	z-index: 100;
}

/* RHOMBUS STYLES*/
.rhombus {
	position: absolute;
	padding: 9px;
	border: 4px solid #d5cefd;
	transform: rotateZ(45deg);
}

/* CROSS STYLES */
.cross_grey {
	width: 17px;
	height: 5px;
	background-color: #d4cdfd;
	transform: rotateZ(-45deg);
}

.cross_grey::before {
	position: absolute;
	width: 17px;
	height: 5px;
	content: "";
	background-color: #d4cdfd;
	transform: rotateZ(90deg);
}

.cross_rotate {
	transform: rotateZ(-5deg);
}


.cross_blue {
	position: absolute;
	width: 19px;
	height: 2px;
	background-color: #6883de;
}

.cross_blue::before {
	position: absolute;
	content: "";
	width: 19px;
	height: 2px;
	background-color: #6883de;
	transform: rotateZ(90deg);
}