* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

:root {
	--dark-blue: #242f51;
	--orange: #fcae61;
	--blue: #2500f9;
	--light-blue: #299cfd;
	--grey: #616368;
};


img {
	display: block;
}

button {
	border: 0;
}

body {
	font-family: Poppins;
	background-color: #FFF;
	color: var(--grey);
}


/* HEADER */

.header_outer {
	margin-top: 95px;
	margin-bottom: 115px;
}

.container_outer {
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.container_main {
	width: 1190px;
	padding: 0 10px;
	position: relative;
	margin: 0 auto;
}

/* NAVIGATION */

.header_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-weight: 700;
	font-size: 35px;
	color: var(--dark-blue);
	text-shadow: 0px 0px 10px transparent;
	text-decoration: none;
	transition: text-shadow .3s linear;
}

.logo:hover {
	text-shadow: 0px 0px 10px var(--dark-blue);
}

.logo_text {
	position: relative;
	left: 0px;
	display: inline-block;
	color: var(--orange);
	text-shadow: 0px 0px 10px transparent;
	margin-right: 0px;
	transition-property: text-shadow;
	transition-duration: .3s;
	transition-timing-function: linear;
}

@keyframes punch {
	0% {
		margin-right: 0px;
		transform: translateX(0px);
	}

	50% {
		transform: translateX(-90px);
		margin-right: 90px;
	}

	100% {
		transform: translateX(0px);
		margin-right: 0px;
	}
}

.punch {
	animation: ease-in-out punch 1.5s;
}

.logo:hover .logo_text {
	text-shadow: 0px 0px 10px var(--orange);
}


.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.nav_item {
	margin-left: 35px;
}

.nav_link {
	font-weight: 500;
	font-size: 16px;
	color: var(--dark-blue);
	text-decoration: none;
	transition-property: color;
	transition-duration: .3s;
	transition-timing-function: linear;
}

.nav_item:hover .nav_link {
	color: var(--orange);
}

.button_style {
	font-weight: 700;
	font-size: 16px;
	color: #FFF;
	padding: 18px 41px;
	background-color: var(--blue);
	border-radius: 30px;
	border: 1px solid var(--blue);
	cursor: pointer;
	transition-property: background-color, color, border;
	transition-duration: .3s;
	transition-timing-function: linear;
}


.nav_button {
	margin-left: 60px;
}

.button_style:hover {
	background-color: #fff;
	color: var(--blue);
}



/* HEADER MAIN TEXT */
.header_main {
	position: relative;
	background: url('../images/header/bg.png') no-repeat;
}

.main_text {
	position: relative;
	padding-top: 220px;
	padding-bottom: 257px;
	margin-left: 70px;
}

.app_rate {
	font-weight: 500;
	font-size: 18px;
	color: var(--dark-blue);
	display: inline-block;
	position: relative;
	padding: 4px 45px;
	background-color: #e2eaed;
	border-radius: 30px;
}

.app_rate::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 19px;
	height: 19px;
	background: url('../images/header/tick.png') no-repeat center;
	box-shadow: 0px 0px 1px transparent;
	background-color: #feaa25;
	padding: 8px;
	border-radius: 50%;
	animation: linear 1.25s bang infinite;
}

@keyframes bang {
	0% {
		box-shadow: 0px 0px 1px rgba(254, 170, 37, 1);
	}

	50% {
		box-shadow: 0px 0px 8px 7px rgba(254, 170, 37, 0.8);
	}

	95% {
		box-shadow: 0px 0px 17px 14px rgba(254, 170, 37, 0);
	}

	100% {
		box-shadow: 0px 0px 1px rgba(254, 170, 37, 0);
	}
}

.main_title {
	font-size: 60px;
	font-weight: 700;
	color: var(--dark-blue);
	margin-top: 5px;
	line-height: 1.25;
}


.app_desc {
	font-size: 18px;
	font-weight: 400;
	display: block;
	margin-top: 10px;
}


.free_button{
	margin-top: 40px;
	margin-right: 30px;
}

.link_style {
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	color: var(--blue);
	transition: color .3s linear;
}

.link_style:hover {
	color: var(--light-blue);
}

/* HEADER PHONE */
.header_img {
	position: absolute;
	top: 35px;
	right: 85px;
	box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
	border-radius: 60px;

}

/* SECTION COMPANIES */
.section_companies {
	position: relative;
	width: 100%;
	margin-bottom: 120px;
}

.companies_outer {
	width: 100%;
	padding: 0 120px;
	position: relative;
}

.companies_title {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: var(--dark-blue);
	margin-bottom: 45px;
}

.companies_main {
	display: flex;
	justify-content: space-between;
}

.southwest {
	margin-top: 36px;
}

.anubis {
	margin-top: 5px;
}

.alonzo {
	margin-top: 20px;
}

.express {
	margin-top: 0;
}

.maniac {
	margin-top: 30px;
}

/* SECTION FEATURES */
.section_features {
	width: 100%;
	margin-bottom: 75px;
}

.features_outer {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.features_img {
	margin-left: 30px;
}

.features_main {
	margin-left: 40px;
	padding-top: 60px;
	padding-right: 280px;
}

.features_title {
	font-size: 36px;
	font-weight: 700;
	color: var(--dark-blue);
	line-height: 1.278;
	margin-bottom: 10px;
}

.features_desc {
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	margin-bottom: 95px;
}

.features {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.feature_item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 65px;
}

.feature_item:last-child {
	margin-bottom: 0;
}
/* IMG STYLE */
.img_style {
	padding: 14px;
	border-radius: 50%;
	position: relative;
	width: 86px;
	height: 86px;
}

/* ICON STYLE */
.icon_style {
	position: relative;
}

.speed {
	background: #ffecef;
	top: 10px;
}

.prototyping {
	background: #f4f4ff;
	top: 3px;
}

.vector {
	background: #e4ffee;
	bottom: 3px;
}

.speed .icon_style {
	top: 2px;
}

.vector .icon_style {
	top: 1px;
}

.feature_info {
	margin-left: 30px;
}

.feature_title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.speed + .feature_info .feature_title {
	color: #f55767;
}

.prototyping + .feature_info .feature_title {
	color: #2563ff;
}

.vector + .feature_info .feature_title {
	color: #40975f;
}

.feature_desc {
	font-size: 16px;
	font-weight: 500;
}


/* SECTION JACKPOTS */
.section_jackpots {
	width: 100%;
	margin-bottom: 120px;
}

.jackpots_main {
	position: relative;
	padding-left: 50px;
	padding-right: 80px;
}

.jackpots_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 110px;
}

.jackpots_title {
	font-size: 40px;
	font-weight: 700;
	color: var(--dark-blue);
    line-height: 1.25;
    position: relative;
    left: 15px;
}

.jackpots_hr {
	width: 150px;
	transform: rotateZ(90deg);
	height: 1px;
	position: relative;
	right: 10px;
	background-color: #b9b9b8;
	border: none;
}


.jackpots_desc {
	font-size: 16px;
	font-weight: 500;
	position: relative;
	right: 60px;
}


.jackpots {
	width: 100%;
	padding-left: 15px;
}

.jackpots .col {
	margin-right: 120px;
}

.jackpots .col:last-child {
	margin-right: 0;
}

.jackpot_item {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.bill {
	background: #ffecef;
}

.network {
	background: #f4f4ff;
}

.badge {
	background: #e4ffee;
}

.bill .icon_style {
	top: 2px;
	left: 4px;
}

.badge .icon_style {
	top: 3px;
}

.jackpot_title {
	font-size: 20px;
	font-weight: 700;
	margin-top: 30px;
}

.bill + .jackpot_info .jackpot_title {
	color: #f55767;
}

.network + .jackpot_info .jackpot_title {
	color: #2563ff;
}

.badge + .jackpot_info .jackpot_title {
	color: #40975f;
}

.jackpot_desc {
	font-size: 16px;
	font-weight: 500;
	margin-top: 10px;
}

/* SECTION DESIGN */
.section_design {
	width: 100%;
	position: relative;
	margin-bottom: 215px;
}

.design_outer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.design_img {
	position: relative;
	left: -60px;
	margin-right: 60px;
}

.design_main {
	width: 100%;
	position: relative;
	top: 145px;
}

.design_title {
	font-size: 36px;
	font-weight: 700;
	color: var(--dark-blue);
	line-height: 1.278;
	margin-bottom: 15px;
}

.design_desc {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 35px;
	line-height: 1.625;
}

.section_design:after {
	content: "";
	width: 100%;
	height: 2px;
	display: block;
	background: #f4f4f4;
	position: absolute;
	bottom: -75px;
}

/* SECTION REASONS */
.section_reasons {
	width: 100%;
	margin-bottom: 170px;
}

.reasons_main {
	padding: 0 100px;
	text-align: center;
}

.reasons_title {
	font-size: 36px;
	font-weight: 700;
	color: var(--dark-blue);
    line-height: 1.278;
    margin-bottom: 35px;
}

.reasons_desc {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 95px;
}

.reasons .row {
	margin-bottom: 65px;
}
.reasons .row:last-child {
	margin-bottom: 0;
}

.reasons .col {
	margin-right: 90px; 
}

.reasons .col:last-child {
	margin-right: 0;
}

.reason {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}


.reasons .web-design {
	background: #ffecef;
}

.reasons .trophy {
	background: #eaf9ff;
}

.reasons .computer {
	background: #fff6d3;
}

.reasons .customer-support {
	background: #e4ffee;
}

.reasons .ui {
	background: #f4f4ff;
}

.reasons .customer-service {
	background: #fdeee4;
}

.trophy .icon_style {
	top: 4px;
}

.computer .icon_style {
	right: 1px;
}

.ui .icon_style {
	left: 3px;
}

.customer-service .icon_style {
	right: 2px;
	top: 2px;
}

.reason_title {
	font-size: 20px;
	font-weight: 700;
	color: var(--dark-blue);
	margin-top: 25px;
	margin-bottom: 10px;
}

.reason_desc {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.625;
}

/* SECTION ULTIMATES */
.section_ultimates {
	margin-bottom: 175px;
}

.ultimates_outer {
	position: relative;
}

.ultimates_title {
	font-size: 36px;
	font-weight: 700;
	color: var(--dark-blue);
	margin-bottom: 10px;
	line-height: 1.278;
}

.ultimates_desc {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 55px;
}

.ultimates_main {
	margin-left: 240px;
}

.ultimates {
	margin-bottom: 60px;
}

.ultimates .row {
	margin-bottom: 60px;
	flex-wrap: nowrap;
}

.ultimates .row:last-child {
	margin-bottom: 0;
}

.ultimates .col {
	margin-right: 90px;
}

.ultimates .col:last-child {
	margin-right: 0;
}

.ultimates .web-design {
	background: #ffecef;
}

.ultimates .ui {
	background: #e4ffee;
}

.ultimates .computer {
	background: #fff6d3;
}

.ultimates .customer-service {
	background: #f4f4ff;
}

.ultimates_button {
	padding-right: 60px;
	padding-left: 60px;
}

.ultimates_img {
	position: absolute;
	top: 20px;
	right: 0;
}

/* SECTION PURCHASE */
.section_purchase {
	margin-bottom: 310px;
	position: relative;
}

.purchase_outer {
	padding: 0 260px;
	text-align: center;
}

.purchase_title {
	font-size: 36px;
	font-weight: 700;
	color: var(--dark-blue);
	margin-bottom: 15px;
}

.purchase_desc {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 75px;
}

.purchase_toggle {
	max-width: 284px;
	max-height: 54px;
	margin: 0 auto 40px;
}

.real_toggle {
	width: 1px;
	height: 1px;
	position: absolute;
	opacity: 0;
	appearance: none;
}

.fake_toggle {
	position: relative;
	width: 284px;
	height: 54px;
	border-radius: 50px;
	border: 2px solid #ebebeb;
	display: block;
}

.fake_toggle::before {
	position: absolute;
	content: "";
	top: 3px;
	left: 3px;
	background: var(--blue);
	padding: 21px 67px;
	border-radius: 50px;
	border: 1px solid var(--blue);
	transition: border, background, transform;
	transition-duration: .4s;
	transition-timing-function: ease-in; 
}

.monthly_title, .annualy_title {
	position: absolute;
}

.monthly_title {
	font-size: 16px;
	font-weight: 800;
	color: #fff;
	top: 13px;
	left: 39px;
	transform: translateX(0px);
	transition-property: transform, font-weight, color;
	transition-duration: .4s;
	transition-timing-function: linear;
}

.annualy_title {
	font-size: 16px;
	font-weight: 500;
	top: 15px;
	right: 39px;
	transition-property: transform, font-weight, color;
	transition-duration: .4s;
	transition-timing-function: linear;
}

.fake_toggle:hover::before{
	background: #fff;
}

.real_toggle + .fake_toggle:hover .monthly_title {
	color: var(--blue);
}

.real_toggle:checked + .fake_toggle:hover .annualy_title {
	color: var(--blue);
}

.real_toggle:checked + .fake_toggle::before {
	transform: translateX(138px);
}

.real_toggle:checked + .fake_toggle .monthly_title {
	transform: translateY(2px);
	font-weight: 500;
	color: inherit;
}

.real_toggle:checked + .fake_toggle .annualy_title {
	transform: translateY(-2px);
	font-weight: 800;
	color: #fff;
}

.purchase {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.card_outer {
	min-width: 317px;
	box-shadow: 2px 30px 20px rgba(0, 0, 0, .1);
	border-radius: 9px;
	padding-bottom: 25px;
	position: relative;
	overflow-y: hidden;
	transition-property: box-shadow, padding-bottom, transform, margin-bottom;
	transition-duration: .4s;
	transition-timing-function: ease-in;
}

.card_outer:nth-child(1) {
	margin-right: 40px;
}

.card_main {
	width: 100%;
	text-align: center;
	transition: transform .4s ease-in;
}

.card_info {
	height: 235px;
	padding-top: 55px;
	padding-bottom: 40px;
	background: linear-gradient(to bottom, #fff, #f4f7f9);
	border-radius: 9px 9px 0px 0px;
}

.card_price {
	font-size: 60px;
	font-weight: 700;
	color: var(--dark-blue);
}

.card_term {
	font-size: 18px;
	font-weight: 400;
	color: #999ca5;
	position: relative;
	bottom: 3px;
}

.card_title {
	font-size: 20px;
	font-weight: 700;
	color: var(--dark-blue);
}

.card_desc {
	font-size: 16px;
	font-weight: 400;
	color: #999ca5;
}

.card_features {
	padding-top: 40px;
}

.card_feature {
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #999ca5;
	margin-bottom: 35px; 
}

.card_feature:last-child {
	margin-bottom: 40px;
}

.card_link {
	position: absolute;
	display: none;
	bottom: 25px;
	left: 50%;
	margin-right: -50%;
	opacity: 0;
	transform: translateX(-50%);
	transition: opacity .2s linear;
}

.card_outer:hover {
	box-shadow: 0px 0px 2px 2px #ebebeb;
}

@keyframes rotate {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(180deg);
	}
}

.rotate {
	animation: ease-in rotate .4s;
}

.trial:hover {
	padding-bottom: 70px;
	margin-bottom: -70px;
}
.trial:hover .card_link {
	transition: opacity  .2s .4s linear;
	opacity: 1;
}

.trial .card_link {
	display: block;
}

.section_purchase:after {
	content: "";
	width: 100%;
	height: 2px;
	display: block;
	background: #f4f4f4;
	position: absolute;
	bottom: -150px;
}

/* SECTION PEOPLE */

.section_people {
	margin-bottom: 175px;
}

.people_outer {
	display: flex;
	flex-direction: row;
}

.people_main {
	position: relative;
	top: -90px;
	left: -24px;
}

.people_info {
	margin-bottom: 40px;
}

.people_title {
	font-size: 40px;
	font-weight: 700;
	color: var(--dark-blue);
	line-height: 1.25; 
	margin-bottom: 20px;
}

.people_desc {
	font-size: 16px;
	font-weight: 500;
}

.people_inner {
	padding-left: 4px;
}

.rate_img {
	margin-bottom: 20px;
}

.comment_title {
	font-size: 20px;
	font-weight: 700;
	color: var(--dark-blue);
	margin-bottom: 20px;
}

.comment_desc {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 65px;
}

.people_slider {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 100;
}

.slider {
	max-width: 400px;
	margin-right: 70px;
	overflow-x: hidden;
	border-radius: 50px;
}

.slider_inner {
	display: flex;
	flex-direction: row;
	transform: translateX(0px);
	transition: transform 1s ease-in-out;
}

.slider_main {
	min-width: 400px;
	display: flex;
	flex-direction: row;
	align-items: center;
	opacity: 1;
	transition: opacity .3s .2s ease-in-out;
}

.slide_off {
	opacity: 0;
}

.slider_img {
	margin-right: 30px;
}

.name {
	font-size: 18px;
	font-weight: 700;
	color: var(--dark-blue);
	margin-bottom: 2px;
	white-space: nowrap;
}

.position {
	font-size: 18px;
	font-weight: 500;
	white-space: nowrap;
}

.slider_control {
	display: flex;
	align-items: center;
}

.slider_btn {
	position: relative;
	padding: 24px;
	border-radius: 50%;
	border: 1px solid #eff3f8;
	transition-property: background, border;
	transition-duration: .3s;
	transition-timing-function: linear;
}

.slider_line {
	height: 24px;
	width: 1px;
	margin: 0 11px;
	border: none;
	background: #e7e7e7;
}

.btn_arrow {
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: inherit;
	transition-property: color;
	transition-duration: .2s;
	transition-timing-function: linear;
}

.btn_off {
	background: #fff;
	color: #e7e7e7;
}

.btn_on {
	background: #eff3f8;
	color: #2500f9;
}

.btn_on:hover {
	border: 1px solid var(--blue);
	/*background: #fff;*/
	/*color: var(--orange);*/
}


/* FLEX */
.row {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 0;
}

.col {
	max-width: 100%;
}

/* FIGURES */

.figures {
	width: 100%;
}

/* CIRCLE */
.first_circle {
	top: 41px;
	left: -43px;
}

.second_circle {
	top: 0px;
	right: 345px;
}

.third_circle {
	bottom: 78px;
	left: 180px;
}

.fourth_circle {
	bottom: 58px;
	right: -122px;
}

/* RHOMBUS */
.first_rhombus {
	top: 136px;
	left: 335px;
}


/* CROSS */
.first_cross {
	bottom: 218px;
	left: 603px;
	position: absolute;
}

.second_cross {
	bottom: 167px;
	left: -165px;
	position: absolute;
}

.third_cross {
	bottom: 42px;
	left: 463px;
}

/* CIRCLE STYLES */
.circle_grey {
	padding: 6px;
	position: absolute;
	background-color: #FFF;
	border-radius: 50%;
	border: 7px solid #d4cdfd;
}

.circle_gradient {
	width: 26px;
	height: 26px;
	position: absolute;
	border: double 6px transparent;
	border-radius: 50%;
	background-image: linear-gradient(#FFF, #FFF), linear-gradient(#ff646e, #f98d6c);
	background-origin: border-box;
  	background-clip: content-box, border-box;
  	z-index: 100;
}

/* RHOMBUS STYLES*/
.rhombus {
	position: absolute;
	padding: 9px;
	border: 4px solid #d5cefd;
	transform: rotateZ(45deg);
}

/* CROSS STYLES */
.cross_grey {
	width: 17px;
	height: 5px;
	background-color: #d4cdfd;
	transform: rotateZ(-45deg);
}

.cross_grey::before {
	position: absolute;
	width: 17px;
	height: 5px;
	content: "";
	background-color: #d4cdfd;
	transform: rotateZ(90deg);
}

.cross_rotate {
	transform: rotateZ(-5deg);
}


.cross_blue {
	position: absolute;
	width: 19px;
	height: 2px;
	background-color: #6883de;
}

.cross_blue::before {
	position: absolute;
	content: "";
	width: 19px;
	height: 2px;
	background-color: #6883de;
	transform: rotateZ(90deg);
}