* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* Font */
@font-face { 
  font-family: 'Coco'; 
  src:  url("Coco-Regular.otf") format("opentype");
}
/* Body */
body {
	background: #FFFFFF;
	width: 100%;
	font-size: 13px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: #000000;
}

h2 {
	font-weight: 400;
	font-size: 20px;
	margin:0;
}

/* Header */
header {
	width: 100%;
	margin-top: 20px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;

}

/* Container*/
.container {
	width: 960px;
	margin: 0px auto;
}

/* Logo */
.logo {
	font-family: 'Coco', sans-serif;
	font-size: 36px;
}

.logo a{
	text-decoration: none;
	color: #000000;
	transition: text-shadow .2s linear;
}

.logo a:hover{
	color: #808080;
	text-shadow: -1px -1px #000000;
}


/* Navigation*/
.header__nav {
	margin: 0;
}

.nav-list {
	list-style-type: none;
	margin: 0;
}

.nav-list li {
	float: left;
}

.nav-list li:after {
	content:"/";
	margin-right: 7px;
	margin-left: 7px;
}

.nav-list li:last-child:after {
	content: "";
	margin-right: 0px;
	margin-left: 0px;
}

.nav-list li > a {
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	transition: color .2s linear;
}
.nav-list li > a:hover {
	color: #808080;
} 


/* Slider */
.slider {
	width: 100%;
	margin-bottom: 50px;
}

.slider__inner {
	height: 421px;
	position: relative;
	background: url(../images/slider_1.jpg) no-repeat;

}

/* Title */
.title__part {
	position: absolute;
	bottom: 50px;
	left: 50px;
	color: #FFFFFF;
}

.title {
	font-size: 45.33px;
	font-weight: 300;
}

.desc {
	font-size: 14px;
}

/* Button */
.btn_1 {
	font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	bottom: 15px;
	right: 35px;
	text-decoration: none;
	opacity: 1;
	transform: opacity .1s linear;
}

.btn_1:hover {
	opacity: 0.5;

}


/* Section 1 */
section {
	width: 100%;
	margin-bottom: 60px;
}

.section__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.item {
	width: 35%;
	margin-right: 20px;
}

.item:last-child{
	margin-right: 0px;
}

.item__title {
	font-weight: 500;
	margin: 20px 0px 10px 0px;
}

.item__desc {
	font-size: 13px;
	font-weight: 500;
	line-height: 1.5;
}

/* Section 2 */
.section__title {
	font-size: 24px;
	text-align: center;
}

.section__title__block {
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}

.line {
	width: 330px;
	height: 1px;
	background-color: #000000;
}

.post {
	width: 35%;
	margin-right: 20px;
}

.post:last-child {
	margin-right: 0px;
}

.post__title {
	font-weight: 500;
	margin-top: 50px;
	margin-bottom: 25px;
}

.post__date {
	color: #C0BFBF;
	margin-bottom: 25px;
}

.post__desc {
	font-size: 12px;
	line-height: 1.5;
	font-weight: 600;
}

.btn_2 {
	font-size: 12px;
	text-decoration: none;
	color:#58555E;

}

.btn_2:hover {
	text-decoration: underline;
}


/* Footer */

footer {
	width: 100%;
	margin-top: 60px;
}

.footer__line {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background-color: #000000;
	margin-bottom: 35px;
}

.footer__up {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-bottom: 10px;
}

.copyright {
	font-size: 12px;
	font-weight: 500;
}

.footer__down {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-bottom: 40px;
}

.logos {
	list-style-type: none;
}

.logos li {
	float: left;
	margin-right: 3px;
}

.logos li > a {
	text-decoration: none;
	color: #000000;
	font-size: 16px;
	transform: color .2s linear;
}

.logos li > a:hover {
	color: #78958E;
}
.url {
	font-size: 12px;
	color: #C0BFBF;
	font-weight: 500;
}



